body{
    background-color: #04a6eb;
    color: #fdffff;
    width: 500px;
    margin: 0 auto;
}
button{
    padding: 5px 20px;
    background-color: #337ab7;
    border-style: none;
    border-radius: 10px;
    color: #fdffff;
}
input{
    height: 24px;
}